@mixin font-size-primary {
  font-size: 16px;
  line-height: 22px;

  @media screen and (max-width: 799px) {
    font-size: 18px;
    line-height: 24px;
  }

  @media screen and (max-height: 450px) {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin font-size-secondary {
  font-size: 14px;
  line-height: 20px;

  @media screen and (max-width: 799px) {
    font-size: 15px;
    line-height: 22px;
  }

  @media screen and (max-height: 450px) {
    font-size: 15px;
    line-height: 22px;
  }
}

@mixin font-size-title {
  font-size: 40px;
  line-height: 50px;
}

@mixin font-size-subtitle {
  font-size: 12px;
  line-height: 16px;
}

@mixin font-size-heading {
  font-size: 32px;
  line-height: 40px;
}

@mixin transition-primary($property: 'all') {
  transition: {
    property: #{$property};
    duration: $transition-duration-primary;
    timing-function: $transition-timing-function-primary;
  }
}

@mixin transition-secondary($property: 'all') {
  transition: {
    property: #{$property};
    duration: $transition-duration-secondary;
    timing-function: $transition-timing-function-secondary;
  }
}

@mixin background-image-center() {
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }
}
