$font-family-primary: 'Montserrat', sans-serif;
$font-family-title: 'Caveat', cursive;
$font-family-marker: 'Caveat', cursive;

$font-weight-primary: 200;
$font-weight-action: 400;

$color-background-primary: #fffdf7;
$color-background-action: #e0c8bb;
$color-background-action-hover: #ecdbd3;
$color-background-action-focus: #ebded7;
$color-background-action-active: #ceb5a9;
$color-background-highlight: #f1ece0;
$color-text-primary: #2d2d2c;

$transition-duration-primary: .2s;
$transition-timing-function-primary: ease-out;

$border-radius-xs: 2px;
$border-radius-s: 6px;

$box-shadow-background-primary: 0px 4px 20px 20px $color-background-primary;
