$font-family-primary: 'Montserrat', sans-serif;
$font-family-title: 'Playfair Display', serif;
$font-family-marker: 'Playfair Display', serif;

$font-weight-primary: 200;
$font-weight-action: 400;
$font-weight-title: 700;

$header-height: 70px;

$landscape-landing-offset: -100px;

$color-background-primary: #fffdf7;
$color-background-action: #e0c8bb;
$color-background-action-hover: #ceb5a9;
$color-background-action-focus: #ebded7;
$color-background-action-active: #ecdbd3;
$color-background-highlight: #f1ece0;
$color-background-dark: #f6f3e9;
$color-background-darker: #e0d9c7;
$color-background-blank: #ffffff;
$color-text-primary: #2d2d2c;

$transition-duration-primary: .2s;
$transition-timing-function-primary: ease-out;

$transition-duration-secondary: .5s;
$transition-timing-function-secondary: ease;

$border-radius-xs: 2px;
$border-radius-s: 6px;

$box-shadow-background-top-primary: 0px -8px 20px 20px $color-background-primary;
$box-shadow-background-bottom-primary: 0px 8px 20px 20px $color-background-primary;
$box-shadow-background-blank: 0px 0px 5px 2px #f7f7f7;
