@use 'sass:math';
@import './variables';
@import './mixins';
@import './reset';
@import './font';

html {
  font: {
    family: $font-family-primary;
    weight: $font-weight-primary;
  };
  color: $color-text-primary;
  background-color: $color-background-primary;
}

.body {
  position: relative;
}

.title {
  @include font-size-title;

  display: inline-block;
  padding: 10px 0;
  text-align: center;
  font: {
    family: $font-family-title;
    weight: $font-weight-title;
  };
}

.subtitle {
  @include font-size-subtitle;

  color: $color-text-subtitle;
}

.heading {
  @include font-size-heading;

  font: {
    family: $font-family-title;
    weight: $font-weight-primary;
  };
  padding: 8px 0;
  margin-bottom: 15px;
  text-align: center;
}

.subheading {
  @include font-size-subheading;

  font: {
    family: $font-family-title;
    weight: $font-weight-primary;
  };
  padding: 4px 0;
  margin-bottom: 10px;
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: $header-height;
  padding: 0 20px;
  text-align: center;
  background-color: $color-background-primary;
  box-shadow: $box-shadow-background-bottom-primary;

  &__title {
    font-size: 30px;
    padding: 0;

    @media screen and (max-width: 899px) {
      display: none;
    }
  }

  &__container {
    position: relative;
    margin: 0 20px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 10px 0;

    @media screen and (max-width: 899px) {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__contact-button {
    @include transition-primary(#{opacity});

    opacity: 1;

    @media screen and (min-width: 899px) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .button {
      &:hover {
        background-color: $color-background-action;
      }

      &:hover:active {
        background-color: $color-background-action-active;
      }
    }

    &_hidden {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.landing {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: calc(100vh - $header-height);

  &__image {
    @include background-image-center;

    flex: 1;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background-image: url("../assets/gallery-img-4.jpg");

    @media screen and (max-height: 599px) {
      background-position: 0px $landscape-landing-offset;
    }
  }

  &__text {
    width: 100%;
    padding-bottom: 30px;
    box-shadow: $box-shadow-background-top-primary;
    text-align: center;
  }

  &__title {
    padding: 10px 8px;
    border-bottom: 1px solid black;
  }

  &__subtitle {
    display: block;
    font-size: 26px;
    font-weight: 500;
    padding: 5px 0;
  }

  @media screen and (max-height: 450px) {
    height: 100vh;
  }
}

.section {
  padding: 20px 0;

  &_highlight {
    background-color: $color-background-highlight;
  }
}

.article {
  max-width: 1000px;
  margin: auto;
}

.paragraph {
  @include font-size-primary;

  padding: 5px 30px;
  text-align: center;

  &_bold {
    font-weight: 400;
  }
}

.contact-section  {
  box-sizing: border-box;
  padding-top: 10vh;
  min-height: 70vh;
}

.buttons-container {
  padding: 0 20px;
  text-align: center;
  max-width: 500px;
  margin: auto;

  > .button:not(:last-of-type) {
    margin: 8px auto;
  }

  &__subtitle {
    display: inline-block;
    margin-top: 24px;
  }

  &__phone {
    display: inline-block;
    margin: 10px 0;
    font: {
      family: $font-family-primary;
      weight: $font-weight-action;
    };
  }

  &__social {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

.button {
  @include font-size-primary;
  @include transition-primary(#{background-color});

  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 32px;
  background-color: $color-background-action;
  font-weight: $font-weight-action;
  border-radius: $border-radius-s;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    background-color: $color-background-action-focus;
  }

  &:hover {
    background-color: $color-background-action-hover;
  }

  &:active {
    background-color: $color-background-action-active;
  }

  &_fullwidth {
    display: flex;
    width: 100%;
  }

  &_with {
    &_icon-left {
      padding-left: 20px;
      padding-right: 20px + 28px;
    }
  }

  &__content {
    flex: 1;
    align-items: center;
  }

  &__icon {
    width: 28px;
    height: 28px;
  }
}

.link {
  @include transition-primary(#{color});

  display: inline;
  color: $color-text-primary;
  cursor: pointer;

  &:hover {
    color: $color-text-hover;
  }
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;

  &_type {
    &_telegram {
      background-image: url("../assets/telegram.svg");
    }

    &_whatsapp {
      background-image: url("../assets/whatsapp.svg");
    }

    &_phone {
      background-image: url("../assets/phone-solid.svg");
    }
  }
}

.list {
  $item-size: 40px;

  list-style: none;
  padding: 20px;
  padding-top: 0;

  &_with-groups {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }

  &__group {
    margin: 0 20px;
  }

  &__item {
    @include font-size-primary;

    position: relative;
    padding-left: $item-size;
    max-width: 300px;
    margin: auto;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__marker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $item-size;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font: {
      family: $font-family-marker;
      weight: $font-weight-action;
      size: $item-size;
    };
  }
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;

  &__image {
    @include background-image-center;

    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 0 40px;
    margin-top: 40px;
    border-radius: $border-radius-s;

    &:nth-child(odd) {
      margin-top: 20px;
    }

    &:nth-child(1) {
      background-image: url("../assets/gallery-img-1.jpg");
    }

    &:nth-child(2) {
      background-image: url("../assets/gallery-img-2.jpg");
    }

    &:nth-child(3) {
      background-image: url("../assets/gallery-img-3.jpg");
    }
  }
}

.accordion {
  $accordion-expand-button-size: 15px;
  $accordion-expand-button-offset: 10px;
  $accordion-expand-button-bar-width: 9px;
  $accordion-expand-button-bar-height: 1px;

  max-width: 550px;
  margin: auto;

  &__item {
    display: block;
    padding: 15px 20px;
  }

  &__title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }

  &__expand-button {
    @include transition-primary(#{transform, background-color});

    display: inline-block;
    position: relative;
    width: $accordion-expand-button-size;
    height: $accordion-expand-button-size;
    margin-right: $accordion-expand-button-offset;
    border-radius: 50%;
    background-color: $color-background-action;
    transform: rotate(0);

    &::before,
    &::after {
      content: '';
      position: absolute;
      opacity: 1;
      background-color: $color-background-primary;
    }

    &::before {
      top: math.div($accordion-expand-button-size - $accordion-expand-button-bar-height, 2);
      left: math.div($accordion-expand-button-size - $accordion-expand-button-bar-width, 2);
      width: $accordion-expand-button-bar-width;
      height: $accordion-expand-button-bar-height;
    }

    &::after {
      top: math.div($accordion-expand-button-size - $accordion-expand-button-bar-width, 2);
      left: math.div($accordion-expand-button-size - $accordion-expand-button-bar-height, 2);
      width: $accordion-expand-button-bar-height;
      height: $accordion-expand-button-bar-width;
    }
  }

  &__title:hover &__expand-button {
    background-color: $color-background-action-hover;
  }

  &__title:active &__expand-button {
    background-color: $color-background-action-active;
  }

  &__title-text {
    @include font-size-primary;

    flex: 1;
  }

  &__content {
    @include font-size-secondary;

    transform-origin: top center;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    padding: {
      top: 10px;
      right: 5px;
      bottom: 5px;
      left: $accordion-expand-button-size + $accordion-expand-button-offset;
    };
    opacity: 0;
    transform: scaleY(0);
  }

  &__item_expanded &__expand-button {
    transform: rotate(90deg);
    background-color: $color-background-action-active;

    &::before {
      opacity: 0;
    }
  }

  &__item_expanded &__content {
    @include transition-primary(#{opacity, transform});

    visibility: visible;
    pointer-events: all;
    position: static;
    opacity: 1;
    transform: scaleY(1);
  }
}

.divider {
  display: block;
  height: 0;
  width: 300px;
  margin: 10px auto;
  border-bottom: 0.5px solid $color-text-primary;
}

.slider {
  $slider-slide-width: 350px;
  $slider-slide-height: 450px;
  $slider-button-size: 12px;

  display: block;
  margin: auto;
  width: $slider-slide-width;

  &__view {
    display: block;
    overflow: hidden;
    width: $slider-slide-width;
    height: $slider-slide-height;
    border-radius: $border-radius-s;
    background-color: $color-background-blank;
    box-shadow: $box-shadow-background-blank;
  }

  &__slides {
    @include transition-secondary(#{transform});

    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transform: translateX(0%);
  }

  &__slide {
    @include font-size-primary;

    display: inline-block;
    white-space: normal;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  &__button {
    @include transition-primary(#{background-color});

    display: inline-block;
    width: $slider-button-size;
    height: $slider-button-size;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: $color-background-action;

    &:hover:not(&_pressed) {
      background-color: $color-background-action-hover;
    }

    &:active {
      background-color: $color-background-action-active;
    }

    &_pressed {
      cursor: default;
      pointer-events: none;
      background-color: $color-background-action-focus;
    }
  }
}

.social {
  $icon-size: 20px;
  $icon-gap: 7px;

  display: inline-flex;

  &__link {
    @include transition-primary(#{background-color, color});

    width: $icon-size;
    height: $icon-size;
    padding: 5px;
    border-radius: 12px;
    color: $color-background-highlight;
    background-color: $color-text-subtitle;

    &:not(:first-child) {
      margin-left: $icon-gap;
    }

    &:hover {
      cursor: pointer;

      color: lighten($color: $color-background-highlight, $amount: 5);
      background-color: lighten($color: $color-text-subtitle, $amount: 10);
    }
  }
}

.email-link {
  display: inline-flex;
  align-items: center;

  &__icon {
    display: inline-flex;
    margin-right: 3px;
    color: lighten($color: $color-text-primary, $amount: 20);
  }

  &:hover &__icon {
    color: inherit;
  }
}

.error {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 100vh;
}

.paranja {
  display: none;
  position: fixed;
  background-color: #857b7575;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  &__slide {
    flex: 1;
    max-width: 400px;
    min-width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 700px) {
      min-width: 300px;
    }

    @media screen and (max-width: 500px) {
      min-width: 250px;
    }
  }

  &__button {
    @include transition-primary(#{color});

    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    cursor: pointer;
    box-shadow: none;
    color: $color-background-highlight;

    &::before {
      @include transition-primary(#{opacity});

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: -1;
    }

    &:hover {
      color: darken($color: $color-text-subtitle, $amount: 30);
    }

    &:hover::before {
      opacity: 1;
    }

    &_type {
      &_next {
        justify-content: flex-end;
        padding-left: 20px;

        &::before {
          background-image: linear-gradient(to left, #7c7c7c 0%, transparent 70%);
        }
      }

      &_prev {
        justify-content: flex-start;
        padding-right: 20px;

        &::before {
          background-image: linear-gradient(to right, #7c7c7c 0%, transparent 70%);
        }
      }
    }
  }

  &__close {
    @include transition-primary(#{color});

    position: absolute;
    top: 0;
    right: 0;
    width: 15vh;
    height: 15vh;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    color: $color-background-highlight;

    &:hover {
      color: darken($color: $color-text-subtitle, $amount: 30);
    }
  }
}

.footer {
  @include font-size-primary;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px 30px;
  border-top: 1px solid darken($color: $color-background-darker, $amount: 4);
  background: linear-gradient(
    to bottom,
    $color-background-darker,
    $color-background-dark 10%,
    $color-background-dark 80%,
    $color-background-primary
  );

  @media screen and (max-width: 500px) {
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    text-align: center;

    &__content {
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid $color-line;
    }
  }

  &__content {
    flex: 1;
  }
}
