@use 'sass:math';
@import './variables';
@import './mixins';
@import './reset';

html {
  font: {
    family: $font-family-primary;
    weight: $font-weight-primary;
  };
  color: $color-text-primary;
  background-color: $color-background-primary;
}

.body {
  position: relative;
}

.title {
  @include font-size-title;

  padding: 10px 0px;
  font-family: $font-family-title;
  text-align: center;
}

.subtitle {
  @include font-size-subtitle;

  font: {
    family: $font-family-title;
    weight: $font-weight-primary;
  };
  padding: 8px 0px;
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: $color-background-primary;
  box-shadow: $box-shadow-background-primary;

  &__title {
    margin-right: 20px;
  }

  &__contact-button {
    @include transition-primary(#{opacity});

    opacity: 1;

    &_hidden {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.section {
  padding: 20px 0;

  &_highlight {
    background-color: $color-background-highlight;
  }
}

.article {
  max-width: 1200px;
  margin: auto;
}

.paragraph {
  @include font-size-primary;

  padding: 5px 30px;
  text-align: center;
}

.buttons-container {
  margin: 10px 0px;
  padding: 0px 10px;
  text-align: center;
  max-width: 500px;
  margin: auto;

  > * {
    margin: 8px auto;
  }
}

.button {
  @include font-size-primary;
  @include transition-primary(#{background-color});

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: $color-background-action;
  font-weight: $font-weight-action;
  border-radius: $border-radius-s;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    background-color: $color-background-action-focus;
  }

  &:hover {
    background-color: $color-background-action-hover;
  }

  &:active {
    background-color: $color-background-action-active;
  }

  &_fullwidth {
    display: flex;
    width: 100%;
  }

  &_with {
    &_icon-left {
      padding-left: 20px;
      padding-right: 20px + 28px;
    }
  }

  &__content {
    flex: 1;
    align-items: center;
  }

  &__icon {
    width: 28px;
    height: 28px;
  }
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;

  &_type {
    &_instagram {
      background-image: url("../assets/instagram.svg");
    }

    &_telegram {
      background-image: url("../assets/telegram.svg");
    }

    &_whatsapp {
      background-image: url("../assets/whatsapp.svg");
    }
  }
}

.list {
  $item-size: 40px;

  list-style: none;
  padding: 20px;
  padding-top: 0;

  &_with-groups {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }

  &__group {
    margin: 0 20px;
  }

  &__item {
    position: relative;
    padding-left: $item-size;
    width: 300px;
    margin: auto;
    margin-top: 40px;
  }

  &__marker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $item-size;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font: {
      family: $font-family-marker;
      weight: $font-weight-action;
      size: $item-size;
    };
  }
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;

  &__image {
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 0 40px;
    margin-top: 40px;
    border-radius: $border-radius-s;
    background: {
      repeat: no-repeat;
      position: center;
      size: cover;
    }

    &:nth-child(odd) {
      margin-top: 20px;
    }

    &:nth-child(1) {
      background-image: url("../assets/gallery-img-1.jpg");
    }

    &:nth-child(2) {
      background-image: url("../assets/gallery-img-2.jpg");
    }

    &:nth-child(3) {
      background-image: url("../assets/gallery-img-3.jpg");
    }
  }
}

.accordion {
  $accordion-expand-button-size: 15px;
  $accordion-expand-button-offset: 10px;
  $accordion-expand-button-bar-width: 9px;
  $accordion-expand-button-bar-height: 1px;

  max-width: 550px;
  margin: auto;

  &__item {
    display: block;
    padding: 15px;
  }

  &__title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }

  &__expand-button {
    @include transition-primary(#{transform});

    display: inline-block;
    position: relative;
    width: $accordion-expand-button-size;
    height: $accordion-expand-button-size;
    margin-right: $accordion-expand-button-offset;
    border-radius: 50%;
    background-color: $color-background-action;
    transform: rotate(0);

    &::before,
    &::after {
      content: '';
      position: absolute;
      opacity: 1;
      background-color: $color-background-primary;
    }

    &::before {
      top: math.div($accordion-expand-button-size - $accordion-expand-button-bar-height, 2);
      left: math.div($accordion-expand-button-size - $accordion-expand-button-bar-width, 2);
      width: $accordion-expand-button-bar-width;
      height: $accordion-expand-button-bar-height;
    }

    &::after {
      top: math.div($accordion-expand-button-size - $accordion-expand-button-bar-width, 2);
      left: math.div($accordion-expand-button-size - $accordion-expand-button-bar-height, 2);
      width: $accordion-expand-button-bar-height;
      height: $accordion-expand-button-bar-width;
    }
  }

  &__title-text {
    flex: 1;
  }

  &__content {
    @include font-size-secondary;

    transform-origin: top center;
    visibility: hidden;
    pointer-events: none;
    height: 0;
    padding: {
      top: 10px;
      right: 5px;
      bottom: 5px;
      left: $accordion-expand-button-size + $accordion-expand-button-offset;
    };
    opacity: 0;
    transform: scaleY(0);
  }

  &__item_expanded &__expand-button {
    transform: rotate(90deg);

    &::before {
      opacity: 0;
    }
  }

  &__item_expanded &__content {
    @include transition-primary(#{opacity, transform});

    visibility: visible;
    pointer-events: all;
    height: 100%;
    opacity: 1;
    transform: scaleY(1);
  }
}
